article.post-closed {
    color: gray;
}

li.post-closed a {
    text-decoration: line-through;
    color: gray;
}

article.post-filled {
    color: gray;
}

li.post-filled a {
    text-decoration: line-through;
    color: gray;
}
