## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="pheader" file="post_header.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="math" file="math_helper.tmpl"/>
<%namespace name="ui" file="ui_helper.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    % if post.meta('keywords'):
    <meta name="keywords" content="${smartjoin(', ', post.meta('keywords'))|h}">
    % endif
    <meta name="author" content="${post.author()|h}">
    %if post.prev_post:
        <link rel="prev" href="${post.prev_post.permalink()}" title="${post.prev_post.title()|h}" type="text/html">
    %endif
    %if post.next_post:
        <link rel="next" href="${post.next_post.permalink()}" title="${post.next_post.title()|h}" type="text/html">
    %endif
    % if post.is_draft:
        <meta name="robots" content="noindex">
    % endif
    ${helper.open_graph_metadata(post)}
    ${helper.twitter_card_information(post)}
    ${helper.meta_translations(post)}
    ${math.math_styles_ifpost(post)}
</%block>

<%block name="content">
<article class="post-${post.meta('type')} h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">
    ${pheader.html_post_header()}
    <div class="e-content entry-content" itemprop="articleBody text">
    % if post.meta('intern') or post.meta('mentors'):
        % if 'internships' in post.meta('tags'):
            <h2>Team</h2>
        % endif
        % if 'stages' in post.meta('tags'):
            <h2>Équipe</h2>
        % endif
        <ul>
        % if post.meta('intern'):
            <li>
            % if 'internships' in post.meta('tags'):
                intern: 
            % endif
            % if 'stages' in post.meta('tags'):
                stagiaire: 
            % endif
            ${post.meta('intern')}
            </li>
        % endif
        % if post.meta('mentors'):
            <li>mentor(s): ${post.meta('mentors')}</li>
        % endif
        </ul>
    % endif
    ${post.text()}
    % if 'text' in post.meta('type'):
        <section id="contacts">
        <h2>Contacts</h2>
        % if 'internships' in post.meta('tags') or 'jobs' in post.meta('tags'):
            <p>Please send your CV to  <a href="mailto:metalab-stage@sat.qc.ca">metalab-stage@sat.qc.ca</a></p>
        % endif
        % if 'emplois' in post.meta('tags') or 'stages' in post.meta('tags'):
            <p>Envoyer un CV à <a href="mailto:metalab-stage@sat.qc.ca">metalab-stage@sat.qc.ca</a></p>
        % endif
        </section>
    % endif
    </div>
    <aside class="postpromonav">
    <nav>
    ${helper.html_tags(post)}
    ${helper.html_pager(post)}
    </nav>
    </aside>
    % if not post.meta('nocomments') and site_has_comments:
        <section class="comments hidden-print">
        <h2>${messages("Comments")}</h2>
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path)}
        </section>
    % endif
    ${math.math_scripts_ifpost(post)}
</article>
${comments.comment_link_script()}
</%block>

<%block name="sourcelink">
% if show_sourcelink:
    ${ui.show_sourcelink(post.source_link())}
% endif
</%block>
